<div class="card profile-card my-3">
  <div class="card-body">
    <!--header-->

    <div class="row">
      <div class="col-6">
        <h5 class="title-border title-border--green p-b-1">CRAFTS & SKILLS</h5>
      </div>
      <div class="col-6 text-right" *ngIf="isMe">
        <div (click)="toggleEditing()" class="pull-xs-right">
          <a href="javascript:;">
            <svg *ngIf="!editing" class="icon icon-md text-muted">
              <use xlink:href="assets/svg/icons.svg#icon-write"></use>
            </svg>
          </a>
          <button
            *ngIf="editing"
            (click)="saveChanges()"
            class="btn btn-success text-white"
          >
            <small>APPLY CHANGES</small>
          </button>
          <a *ngIf="editing" href="javascript:;" class="px-2">
            <small>CANCEL</small>
          </a>
        </div>
      </div>
    </div>
    <hr />
    <!--skills-->
    <div>
      <div class="row" *ngIf="editing">
        <div class="col-9">
          <input
            class="form-control input-basic"
            placeholder="Add Skill"
            title="newSkill"
            [(ngModel)]="newSkill"
          />
        </div>
        <div class="col-3 text-right">
          <button (click)="addNewSkill()" class="btn btn-success text-white">
            <svg class="icon icon-plus">
              <use xlink:href="./assets/svg/icons.svg#icon-plus"></use>
            </svg>
          </button>
        </div>
      </div>
      <ul class="profile__skills-list">
        <li *ngFor="let skill of newSkills" class="my-4">
          {{ skill.name }}
          <a
            *ngIf="editing"
            (click)="removeSkill(skill)"
            class="float-right"
            href="javascript:;"
          >
            <svg class="icon icon-delete_forever text-muted">
              <use xlink:href="assets/svg/icons.svg#icon-delete_forever"></use>
            </svg>
          </a>
          <input
            *ngIf="editing"
            #skillLevel
            title="skillLevel"
            type="range"
            min="1"
            max="100"
            [value]="skill.skill_level"
            class="slider"
            (change)="valueChange(skill.name, skillLevel.value)"
          />
          <div *ngIf="!editing" class="progress mt-2">
            <div
              class="progress-bar bg-info"
              role="progressbar"
              [style.width]="skill.skill_level + '%'"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </li>
      </ul>
      <div *ngIf="!newSkills.length">
        <span *ngIf="isMe">You</span
        ><span *ngIf="!isMe">{{ user.name }}</span> didn't add any skills yet
      </div>
    </div>
  </div>
</div>
