<div class="modal-body">
  <form *ngIf="project" #updateForm="ngForm" (ngSubmit)="editProject()">
    <div class="container">
      <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <input class="form-control col-sm-10" type="text" id="title" required minlength="4" maxlength="20"
               name="title"
               [(ngModel)]="project.title"
               #title="ngModel">
        <div *ngIf="title.errors && (title.dirty || title.touched)">
          <i [hidden]="!title.errors.required" class="form-text text-danger">Title is required</i>
          <i [hidden]="!title.errors.minlength" class="form-text text-danger">Title must be at least 4 characters
            long.</i>
          <i [hidden]="!title.errors.maxlength" class="form-text text-danger">Title cannot be more than 20 characters
            long.</i>
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <textarea class="form-control col-sm-10" id="description" required minlength="4" name="description"
                  rows="6"
                  [(ngModel)]="project.description"
                  #description="ngModel"></textarea>
        <div *ngIf="description.errors && (description.dirty || description.touched)">
          <i [hidden]="!description.errors.required" class="form-text text-danger">Description is required</i>
          <i [hidden]="!description.errors.minlength" class="form-text text-danger">Description must be at least 4
            characters long.</i>
        </div>
      </div>

      <fieldset class="form-group p-a-1">
        <legend class="text-xs-center">Positions</legend>
        <app-autocomplete (onSelect)="onSelect($event)" wrap_class="form-group" label_message="Required skill"
                          label_show="true"></app-autocomplete>
        <div class="form-group">
          <textarea class="form-control m-t-1" type="text" id="position-desc" placeholder="Position description"
                    #position
                    rows="4"></textarea>
        </div>
        <div class="text-xs-right">
          <button class="btn btn-info" type="button" (click)="addPosition(position)">Add Position</button>
        </div>
        <i [hidden]="!positionError" class="form-text text-danger">{{positionError}}</i>
      </fieldset>

      <ul class="list-unstyled m-b-3">
        <li *ngFor="let position of project.position; let i = index" class="panel m-b-1 p-a-1">
          <h5>{{position.skill.name}}
            <button class="btn btn-outline-danger btn-sm pull-xs-right btn-circle-sm font-weight-bold" type="button"
                    (click)="removePosition(position.id, i)">&times;</button>
          </h5>
          <p>{{position.description}}</p>
        </li>
      </ul>

      <div class="form-group row">
        <label for="question" class="col-sm-2 col-form-label">Questions</label>
        <input class="form-control col-sm-7" type="text" id="question" placeholder="Application question" #question>
        <div class="col-sm-3">
          <button class="btn btn-info" type="button" (click)="addQuestion(question.value)">Add Question</button>
        </div>
      </div>


      <ul>
        <li *ngFor="let question of project.application_questions; let i = index">
          {{question}}
          <button class="btn btn-sm btn-danger" type="button" (click)="removeQuestion(i)"><span
            aria-hidden="true">&times;</span></button>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit" [disabled]="!updateForm.form.valid">Save changes</button>
    </div>
  </form>
</div>

