<div bsModal #shareModal="bs-modal" class="modal grow"
     tabindex="-1" role="dialog"
     aria-hidden="true">
  <div class="modal-dialog modal-fluid">
    <div class="modal-content">
      <div class="modal-body jumbotron-fluid text-center px-5">
        <h2> Let's share it someplace!</h2>
        <div class="row mt-5 mb-3">
          <div class="col-6">
            <b>Facebook</b>
          </div>
          <div class="col-6">
            <b>Twitter</b>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <a
              href="https://www.facebook.com/dialog/share?app_id={{environment.FACEBOOK_ID}}&display=popup&href={{href}}&redirect_uri={{href}}&quote=Check%20out%20this%20project%20and%20help%20it%20become%20a%20reality"
              target="_blank">
              <svg class="icon icon-social">
                <use xlink:href="assets/svg/social.svg#facebook"></use>
              </svg>
            </a>
          </div>
          <div class="col-6">
            <a
              href="https://twitter.com/share?url={{href}}&hashtags=after5app&text=Check%20out%20this%20project%20and%20help%20it%20become%20a%20reality"
              target="_blank">
              <svg class="icon icon-social">
                <use xlink:href="assets/svg/social.svg#twitter"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
