<div class="jumbotron-fluid">
    <div class="container">
        <h2 class="text-xs-center">Projects</h2>
    </div>
</div>
<div class="container container-small">
    <ul *ngIf="projects" class="project-list">
        <li *ngFor="let project of projects" class="project__item">
            <h3><a routerLink="/project/{{project.id}}" routerLinkActive="active">
                {{project.title}}
            </a></h3>
            <p>{{project.description}}</p>
            <a routerLink="/profile/{{project.user_id}}" routerLinkActive="active">
                {{project.user.name}}
            </a>
            <span> {{ project.created_at | date:"dd/MM/yyyy" }} </span>
        </li>
    </ul>

    <button (click)="prevPage()" *ngIf="page.prev" class="btn btn-default">prev</button>
    {{page.current_page}}
    <button (click)="nextPage()" *ngIf="page.next" class="btn btn-default">next</button>
</div>