<footer class="p-y-2 bg-faded">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-md-left text-xs-center">
        <nav>
          <a routerLink="/">
            <small>Home</small>
          </a>
          &sdot; <a routerLink="/projects">
          <small>Projects</small>
        </a>
          &sdot; <a routerLink="/about">
          <small>About</small>
        </a>
          &sdot; <a *ngIf="state.isLoggedIn()" routerLink="/start-project">
          <small>Start project</small>
        </a>
        </nav>
      </div>
      <div class="col-md-4 text-md-right text-xs-center">
        <small>&#10100; &#10101; with &#10084; by <a href="http://utwo.ro" target="_blank">Utwo</a> and Oana
        </small>
      </div>
    </div>
  </div>
</footer>
