<footer class="pt-2 bg-faded footer-site">
  <div class="sprite sprite-footer-planet_1"></div>
  <div class="sprite sprite-footer-planet_2"></div>
  <div class="jumbotron-fluid">
    <div class="container">
      <div class="mb-3">
        <ul class="nav justify-content-center">
          <li class="nav-item mx-4">
            <a routerLink="/">Home</a>
          </li>
          <li class="nav-item mx-4">
            <a routerLink="/about">About Us</a>
          </li>
          <li class="nav-item mx-4">
            <a routerLink="/">Contact Us</a>
          </li>
          <li class="nav-item mx-4">
            <a routerLink="/start-project">Start Project</a>
          </li>
          <li class="nav-item mx-4">
            <a routerLink="/projects">Projects</a>
          </li>
        </ul>
      </div>
      <div class="text-center">
        <small>
          Copyright &copy; After5app Team - 2017
          <br>
          All Rights Reserved
        </small>
      </div>
    </div>
  </div>
</footer>
