.alert {
  position: fixed;
  left: 1em;
  bottom: -4em;
  z-index: map-get($zindex, highest);
  display: flex;
  overflow: hidden;
  width: auto;
  height: 3.4em;
  border-radius: $border-radius;
}

.alert-icon {
  box-shadow: 1px 0 2px 0 $gray-dark;
  z-index: map-get($zindex, high);
}

.alert-icon .icon {
  font-size: 1.4rem;
}

.alert__text {
  width: 0;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2);
}

.alert--show {
  animation: show-alert .4s alternate cubic-bezier(0.7, 1.49, 0.71, 1.57) forwards;
}

.alert--show .alert__text {
  animation: show-text .6s alternate cubic-bezier(0.45, 0.05, 0.55, 0.95) forwards .5s;
}

@keyframes show-alert {
  0% {
    bottom: -4em;
  }
  100% {
    bottom: 1em;
  }
}

@keyframes show-text {
  0% {
    width: 0;
    opacity: 0;
    color: transparent;
  }
  80% {
    opacity: 1;
    width: 100%;
    color: transparent;
  }
  100% {
    color: #fff;
    opacity: 1;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
