// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn:hover {
  cursor: pointer;
}

.form-control {
  box-shadow: inset 0 0 0 1px transparentize($primary, .8);
}

.btn-gradient-primary {
  background: linear-gradient(135deg, darken($primary, 5) 0%, darken($primary, 5) 53%, lighten($primary, 2) 56%, lighten($primary, 2) 100%);
  border: #333;
  color: #fff;
}

.btn-link-primary {
  border-bottom: 3px solid $primary;
}

.btn-link-info {
  position: relative;
  //border-bottom: 3px solid $brand-info;
}

.btn-link-info::after {
  content: '';
  position: absolute;
  width: 50%;
  border-bottom: 3px solid $info;
  bottom: 0;
  left: 25%;
}

.btn-danger {
  box-shadow: 1px 2px 1px 0 $danger, inset 1px 1px 2px 0 rgba(255, 255, 255, .68);
}

.btn-circle {
  outline: none !important;
  position: relative;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: .7rem;
  overflow: hidden;
}

.btn-circle-sm {
  border-radius: 50%;
}

//Social buttons
.btn-login {
  padding: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.btn-twitter {
  color: #fff;
  background: #55acee;
  border: rgba(0, 0, 0, .2);
}

.btn-twitter:focus, .btn-twitter:hover, .btn-twitter:hover {
  background: #2795e9;
  color: #fff;
}
