.card {
  border: none;
}

.home-card {
  max-width: 400px;
  background: #fff;
  padding: 20px;
  z-index: map-get($zindex, higher);
}

.home-card__title {
  color: $gray;
}

.profile-card {
  box-shadow: 0 1px 3px 1px $gray-lighter;
  border: none;
}

.card-btn {
  border-radius: 0 0 $border-radius $border-radius;
}
