.comment-item {
  display: flex;
}

.comment__content {
  background: lighten( $success, 30% );
  padding: .4rem .6rem;
  margin: .6rem 0;
  border-radius: $border-radius-lg;
}

.comment__author{
  display: block;
}

.comment-item__mine .comment__content {
  background: $info;
}

.comment__left-side {
  align-self: center;
}

.comment__right-side .comment__content{
  background: $success;
}
