// Twitter dropdown-menu
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown--lg .dropdown-menu {
  width: 300%;
}

.dropdown-menu {
  left: 0;
  background: #fff;
  width: 100%;
  margin-top: .2rem;
  font-size: $font-size-base;
  list-style-type: none;
  padding: 0;
  color: $gray-dark;
  position: absolute;
  z-index: map-get($zindex, max);
  border-radius: $border-radius-lg;
  box-shadow: 0 0 10px 1px rgba(231, 231, 231, 0.37);
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.dropdown-menu a {
  color: $gray-dark;
}

ul.dropdown-menu > li {
  transition: .3s all ease-in-out;
  padding: .6rem;
  border-bottom: 1px dashed darken($gray-lightest, 20%);
}

.dropdown-menu > li:last-child {
  border-bottom: 0 none;
}

.dropdown-menu > li:hover {
  background: $brand-info;
}

.dropdown-menu > li:hover a {
  text-decoration: none;
}

.dropdown-menu .active {
  color: $gray-lightest;
  background: $brand-info;
}

//User link dropdown
.dropdown__content {
  display: none;
  top: 3.5em;
  left: -100px;
  padding: .4em;
  color: $gray;
}

.dropdown__content:before {
  content:" ";
  position: absolute;
  top:0;
  right: 10px;
  border-style: solid;
  border-width: 0 15px 20px 15px;
  border-color: transparent transparent #204a80 transparent;
}

.dropdown__content.dropdown-user{
  width: 200px;
}

.dropdown__content.dropdown-notifications{
  left: -300px;
  width: 400px;
}

.dropdown__content a {
  color: $gray;
}

.dropdown--activ .dropdown__content {
  display: block;
  animation: .4s show-dropdown forwards ease-in-out;
}

.dropdown-loading {
  position: absolute;
  top: 50%;
  right: 1.3rem;
  z-index: map-get($zindex, higher);
}

@keyframes show-dropdown {
  0% {
    transform: translateY(-2em);
    opacity: .4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

//Scrollbar
.dropdown-menu::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .4);
}

.dropdown-menu::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
