.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: middle;
}

.icon-lg {
  width: 2em;
  height: 2em;
}

.icon-circle{
  background: $purple;
  border-radius: 35px;
  color: $gray-lightest;
  width: 3em;
  height: 3em;
}

.logo {
  height: 2em;
}

.icon.icon-star{
  font-size: 1.5em;
  stroke: $gray-lighter;
}

.icon.icon-star.full{
  stroke: $yellow;
  fill: $yellow;
}
