.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: middle;
}

.icon-xs {
  width: .8em;
  height: .8em;
}

.icon-md {
  width: 1.5em;
  height: 1.5em;
}

.icon-lg {
  width: 2em;
  height: 2em;
}

.icon-xl {
  width: 3em;
  height: 3em;
}

.icon-social {
  width: 15em;
  height: 15em;
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .icon-social {
    width: 10em;
    height: 10em;
  }
}

.icon-picture-faded {
  width: 13em;
  height: 13em;
  opacity: .5;
}

.icon-shadow {
  height: 3em;
  width: 3em;
  background: $info;
  border-radius: 50%;
}

.icon-elipsis {
  background: $dark-purple;
  border-radius: 35px;
  color: $gray-lightest;
  width: 3em;
  height: 2em;
}

.logo {
  height: 2em;
  width: 9em;
  vertical-align: middle;
}

.icon.icon-star {
  font-size: 1.5em;
  color: $gray-light;
  vertical-align: bottom;
}

.icon.icon-star.full {
  stroke: $yellow;
  fill: $yellow;
}
