.input-basic {
  background-color: $gray-lightest;
  color: $gray;
  border: none;
  box-shadow: none;
}

.input-gray {
  background-color: $gray-lighter;
}

.search-input{
  font-size: 1.2em;
  color: #fff;
  background: transparent;
  border: none;
  box-shadow: none;
}

.form-control.search-input:focus{
  background: transparent;
  color: #fff;
}
