.input-basic {
  background-color: $gray-lightest;
  color: $gray;
  border: none;
  box-shadow: none;
}

.form-control.input-basic:focus {
  background-color: $gray-lightest;
}

.input-gray {
  background-color: $gray-lighter;
}

.form-control.input-gray:focus{
  background: $gray-lighter;
}

.search-input{
  font-size: 1.2em;
  color: #fff;
  background: transparent;
  border: none;
  box-shadow: none;
}

.form-control.search-input:focus{
  background: transparent;
  color: #fff;
}

// file input
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
