.jumbotron-fluid {
  background: $primary;
  padding: 2em 0;
  color: #fff;
  position: relative;
}

.jumbotron-fluid.search {
  background: $purple;
  padding: 1.5em 0;
  font-size: 1.2em;
}

.jumbotron-white {
  background: #fff;
  padding: 1.5em 0;
}

.jumbotron-dark {
  position: relative;
  background: $purple;
  color: #fff;
}

