.modal-backdrop {
  background: $modal-backdrop-bg;
}

.modal-content {
  border-radius: $border-radius-lg;
  border: 20px solid lighten($brand-primary, 5);
  box-shadow: 0 0 20px 3px transparentize($brand-primary, .5);
}

.modal__close {
  position: absolute;
  top: -2rem;
  right: -2rem;
  border-radius: 50%;
  font-size: 1.4rem;
  background: $brand-info;
  color: #fff;
  box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, .6);
}

//Transition between open and close state
.modal.grow .modal-dialog {
  transition: transform .3s ease-out, opacity .2s ease-in;
  opacity: .2;
  transform: scale(1.2) translate3d(0, 5rem, 0);
}

.modal.grow .modal-body {
  transition: transform .2s .25s ease-out, opacity .2s .25s ease-in;
  opacity: .1;
  transform: translate3d(0, 50px, 0);
}

.modal.in .modal-dialog {
  transform: scale(1) translate3d(0, 0, 0);
  opacity: 1;
}

.modal.in .modal-body {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
