.modal-backdrop {
  background: $modal-backdrop-bg;
}

.modal-content {
  border-radius: $border-radius-lg;
  border: 20px solid lighten($brand-primary, 5);
  box-shadow: 0 0 20px 3px transparentize($brand-primary, .5);
}

.modal__close {
  position: absolute;
  top: -2rem;
  right: -2rem;
  border-radius: 50%;
  font-size: 1.4rem;
  background: $brand-info;
  color: #fff;
  box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, .6);
}