.modal-open .modal {
  background: $modal-backdrop-bg;
}

.modal-fluid {
  max-width: 100%;
  margin-top: 18%;
}

.modal-content {
  border-radius: $border-radius-lg;
  border-color: transparent;
}

.modal-fluid .modal-content {
  border-radius: 0;
  border-left: 0 none;
  border-right: 0 none;
}

.modal-fluid .modal__close {
  right: 0;
}

//Transition between open and close state
.modal.grow .commodal-dialog {
  transition: transform .3s ease-out, opacity .2s ease-in;
  opacity: .2;
  transform: scale(1.2) translate3d(0, 5rem, 0);
}

.modal.grow .modal-body {
  transition: transform .2s .25s ease-out, opacity .2s .25s ease-in;
  opacity: .1;
  transform: translate3d(0, 50px, 0);
}

.modal.in .modal-dialog {
  transform: scale(1) translate3d(0, 0, 0);
  opacity: 1;
}

.modal.in .modal-body {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
