.navigation-item {
  margin: 0 .8em;
  padding-top: .3rem;
  padding-bottom: .3rem;
}

.toggle-burger {
  font-size: 1.6rem;
  vertical-align: middle;
  background: $info;
  line-height: .9;
}

.toggle-burger:hover, .toggle-burger:focus {
  text-decoration: none;
  background: darken($info, 10%);
}

.show-navigation .navigation-wrap {
  display: block !important;
  animation: show-navigation .4s forwards ease-in-out;
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .navigation-wrap {
    position: absolute;
    top: 4rem;
    left: 0;
    z-index: map-get($zindex, high);
    background: $primary;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .2);
    padding: 1.5rem 0;
  }

  .navigation-item {
    display: block;
    margin: 0 0 1.2rem !important;
    padding: .4rem;
    background: rgba(0, 0, 0, .08);
    border-radius: $border-radius;
  }

  // small hack to put button info background to navigation-item
  .navigation-item.btn-info {
    background: $info;
  }

  .navigation-wrap .dropdown {
    display: block;
    margin: 0 -15px 0 -15px;
  }

  .dropdown--lg .dropdown-menu {
    width: 100% !important;
  }

  .navigation-wrap .header__search-form {
    background: rgba(0, 0, 0, .2);
    border: 0;
    border-radius: 0;
    padding: 1em;
    width: 100%;
    color: #fff;
  }
}

@keyframes show-navigation {
  0% {
    transform: translateY(-2em);
    opacity: .4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
