.notification__icon {
}

.notification__item {
  border-bottom: 2px solid rgba(255, 255, 255, .2);
  margin: .4em .2em;
  padding: .4em 0;
}

.notification__item:last-child {
  border: 0;
}

.notification__item img {
  border-radius: 6px;
}