.notification {
  position: relative;
}

.notification:hover {
  cursor: pointer;
}

.notification__icon {
  border-radius: 50%;
  font-size: $font-size-lg;
  background: #8ee3ce;
  padding: .4rem;
  box-shadow: -1px 1px 1px 1px darken($brand-primary, 5%);
  position: relative;
  z-index: map-get($zindex, high);
}

.notification__icon::before {
  content: '';
  position: absolute;
  animation: 10s pulse infinite 2s ease-in-out forwards;
  background: $brand_info;
  display: block;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: map-get($zindex, low);
}

.notification__count {
  display: flex;
  position: absolute;
  top: -.6rem;
  left: 1.6rem;
  background: $brand-danger;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  justify-content: center;
  align-items: center;
  font-size: $font-size-sm;
  z-index: map-get($zindex, higher);
}

.dropdown--activ .notification__icon .icon {
  transform: rotate(-90deg) translate(-1px, 2px);
  transition: .3s all ease-in-out;
}

.notification__item {
  border-bottom: 2px solid rgba(255, 255, 255, .2);
  margin: .4em .2em;
  padding: .4em 0;
}

li:last-child .notification__item {
  border: 0;
}

.notification__item img {
  border-radius: $border-radius-lg;
}

@keyframes pulse {
  0% {
    opacity: .6;
    padding: 0;
  }
  10%, 100% {
    padding: 2rem;
    opacity: 0;
  }
}
