.panel {
  word-wrap: break-word;
  background: #fff;
  border: 1px solid $gray-lighter;
  border-radius: $border-radius-lg;
}

.panel--top--bottom {
  box-shadow: 0 -5px 0 0 $brand-info, 0 5px 0 0 $brand-primary;
  border-top-color: $brand-info;
  border-bottom-color: $brand-primary;
}

.panel--left {
  box-shadow: -5px 0 0 0 $brand-info, -10px 0 0 0 $brand-primary;
}
