.panel {
  word-wrap: break-word;
  background: #fff;
  box-shadow: 0 1px 3px 1px #e7e7e7;
  border-radius: $border-radius-lg;
}

.panel--top--bottom {
  box-shadow: 0 -5px 0 0 $info, 0 5px 0 0 $primary;
  border-top-color: $info;
  border-bottom-color: $primary;
}

.panel--left {
  box-shadow: -5px 0 0 0 $info, -10px 0 0 0 $primary;
}

.panel__item {
  padding: .4rem;
  margin: .4rem 0;
  border-radius: $border-radius;
  transition: .3s all ease-in-out
}
