.panel {
  word-wrap: break-word;
  background: #fff;
  border: 1px solid $gray-lighter;
  border-radius: $border-radius-lg;
}

.panel--top--bottom {
  box-shadow: 0 -5px 0 0 $brand-info, 0 5px 0 0 $brand-primary;
  border-top-color: $brand-info;
  border-bottom-color: $brand-primary;
}

.panel--left {
  box-shadow: -5px 0 0 0 $brand-info, -10px 0 0 0 $brand-primary;
}

.panel__item {
  padding: .4rem;
  background: rgba(0, 0, 0, .08);
  margin: .4rem 0;
  border-radius: $border-radius;
  transition: .3s all ease-in-out
}

.panel__item:hover {
  background: #8ee3ce;
}
