.project-list {
  margin: 0 auto;
}

.project__item {
  word-wrap: break-word;
  max-width: 600px;
  background: $gray-lightest;
  border: 1px solid $gray-lighter;
  border-radius: $border-radius-lg;
}

.project__title {
  font-size: 1.3rem;
}

.project__date {
  font-size: .9rem;
}

/*.project__item p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/

.project__skill-item {
  font-family: Consolas, monospace;
  font-size: 1em;
}

.project__subinfo {
  border-top: 2px solid #fff;
  padding-top: .8em;
}
