.project-list {
  margin: 0 auto;
}

.project__title {
  font-size: $font-size-lg;
}

.project__date {
  font-size: $font-size-sm;
}

.project__skill-item {
  font-size: $font-size-base;
  padding: .3em 1.2em;
}

.project__subinfo {
  border-top: 2px solid #fff;
  padding-top: .8em;
}

.project__card-label{
  color: $gray;
}

.project__card-line{
  border-color: $gray-lightest;
}


// position card

.position__card{
  min-height: 210px;
  box-shadow: 0 3px 5px 0 $dark-purple;
}

.position__card img{
  border: 5px solid $success;
  border-radius: 50%;
  animation-name: greenPulse;
  animation-duration: 2s;
  animation-iteration-count: 1;
  box-shadow: 0 0 30px $success;
}

.position__card-taken{
  background: lighten($primary, 3%);
}
