.project-list {
  margin: 0 auto;
}

.project__item {
  padding: 1.6em;
  margin: 3em auto;
  word-wrap: break-word;
  max-width: 600px;
}

.project__item:nth-child(2n+2) {
  background: $gray-lightest;
  border-radius: $border-radius-lg;
}

.project__title {
  font-size: 1.3rem;
}

.project__date {
  font-size: .9rem;
}

/*.project__item p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/

.project__skill-item {
  font-family: Consolas, monospace;
  font-size: 1em;
}

.project__subinfo {
  border-top: 2px solid $gray-lightest;
  padding-top: .8em;
}

.project__item:nth-child(2n+2) .project__subinfo{
  border-color: #fff;
}