.step-button {
  background: $brand-info;
  width: 4em;
  height: .5em;
  margin: 0 7px;
  border-radius: $border-radius;
  display: inline-block;
  cursor: pointer;
}

.step-button.active {
  background: $brand-success;
}
