.tray {
  list-style: none;
  background: $purple;
  border-radius: $border-radius;
  padding: 0;
}

.scrollable_tray{
  overflow-x: auto;
  white-space: nowrap;
}

// skills tray
.tray--skill {
  margin: 1em;
  width: 150px;
  display: inline-block;
  text-align: center;
}

.tray--name {
  width: 100%;
  padding: 1em;
  background: #fff;
  color: $info;
  border-radius: $border-radius $border-radius 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tray--button {
  width: 100%;
  padding: .2em;
  background: $info;
  border-radius: 0 0 $border-radius $border-radius;
  cursor: pointer;
  color: #fff;
}

.tray--button.disabled{
  background: $iris;
  color: $light-periwinkle;
  cursor: auto;
}
// asset tray
.tray--asset {
  margin: 1em;
  width: 150px;
  display: inline-block;
  padding: 1em;
  word-wrap: break-word;
  vertical-align: top;
  text-overflow: ellipsis;
  position: relative;
}

.scrollable_tray .tray--asset{
  text-overflow: ellipsis;
  overflow: hidden;
}

.tray::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.tray::-webkit-scrollbar
{
  height: 12px;
  width: 12px;
  background-color: transparent;
}

.tray::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: $perrywinkle;
}
