<div class="jumbotron-fluid">
  <div class="container">
    <h2>About
      <svg class="icon">
        <use xlink:href="assets/icons.svg#icon-rocket-color"></use>
      </svg>
    </h2>
  </div>
</div>
<section class="container-small m-x-auto m-y-3 project__item p-a-1 panel--top--bottom">
  <p>We are a group of students from Cluj-Napoca passionate about Computer Science. Not only once did it happened to
    (one
    of) us to have a great new idea about a website or an app that we would like to implement but we didn’t have enough
    knowledge or working experience.</p>
  <p>Gradually, we found out that we were not the only ones in this situation, that there are many people and students
    around us that are full of creative ideas but they just lack (some) certain technical skills. For example they know
    how to deal with the backend of an application, but they just need a frontend expert and a designer who can help
    them
    present their idea to the world.</p>
  <p>Thus, we found this need in our community and we came up with the idea (of) for this website. A place where people
    could (write) present their ideas (together with) and write a short description (of) about the kind of help they
    need,
    so other passionate and talented people could join them on this journey and make it happen.</p>
  <p>We want to encourage collaboration and change. We don’t want ideas to <span class="text-muted">fade</span>.</p>

  <h4 class="title-border title-border--green p-b-1 m-t-2">How we did it?</h4>
  <p>Startupper was created using … (technologies)</p>

  <h4 class="title-border title-border--green p-b-1 m-t-2">Who did it?</h4>
  <ul>
    <li><a href="http://utwo.ro" target="_blank"><strong>Utwo</strong></a>: Backend Guru & Designer</li>
    <li><strong>Oana Muntean</strong>: Frontend Master</li>
    <li><strong>Eliza Nitoi</strong>:</li>
    <li><strong>Bianca Popescu</strong>: Illustrator designer</li>
  </ul>

  <div class="text-xs-center m-t-2">
    <p class="text-muted">This is what <a routerLink="/">Startupper</a> is all about :)</p>
  </div>
</section>
