<div class="about-background container-fluid">
  <div class="sprite sprite-home-planet-2 d-none d-md-block"></div>
  <div class="row py-5 align-items-center justify-content-center stars">
    <div class="col-12 col-lg-6 text-center">
      <div class="team"></div>
    </div>
    <div class="col-12 col-lg-5 col-xl-4">
      <div class="m-5 p-4 about-text">
        <p>We are a group of passionate people from Cluj-Napoca with a powerful desire to constantly create and learn.
          We’ve often felt this need to do more and more. Our main problem was that we lacked certain skills or
          experience to implement what we had in mind.
        </p>
        <p>
          Gradually, we found out that we were not the only ones in this situation, that there are many people and
          students around us that are full of creative ideas but they just lack certain technical skills. For example
          they know how to deal with the backend of an application, but they just need a frontend expert and a designer
          who can help them present their idea to the world.
        </p>
        <p>
          Thus, we found this need in our community and we came up with the idea of this website. A place where people
          could present their ideas and write a short description about the kind of help they need, so other passionate
          and talented people could join them on this journey and make it happen.
        </p>
        <p>
          We want to encourage collaboration and change. We want you all to start talking to eachother and bring new
          things into this world!
        </p>
      </div>
    </div>
  </div>
</div>
