<input [(ngModel)]="asyncSelected"
       [typeahead]="dataSource"
       (typeaheadLoading)="changeTypeaheadLoading($event)"
       (typeaheadNoResults)="changeTypeaheadNoResults($event)"
       (typeaheadOnSelect)="typeaheadOnSelect($event)"
       [typeaheadOptionsLimit]="7"
       [typeaheadItemTemplate]="projectItemTemplate"
       placeholder="Search project"
       class="form-control form-control-sm header__search-form">

<div *ngIf="typeaheadLoading===true">
    <i>loading</i>
</div>
<div *ngIf="typeaheadNoResults===true" class="" style="">
    <i>No Results Found</i>
</div>

<template #projectItemTemplate let-project="item" let-index="index">
    <a routerLink="/project/{{project.id}}" class="d-block">
        <h5>{{project.title}}</h5>
        <p>{{project.description}}</p>
    </a>
</template>
