<input [(ngModel)]="asyncSelected"
       [typeahead]="dataSource"
       (typeaheadLoading)="changeTypeaheadLoading($event)"
       (typeaheadNoResults)="changeTypeaheadNoResults($event)"
       (typeaheadOnSelect)="typeaheadOnSelect($event)"
       [typeaheadWaitMs]="400"
       [typeaheadItemTemplate]="projectItemTemplate"
       placeholder="Search project"
       typeaheadMinLength="3"
       class="form-control form-control-sm header__search-form">

<i *ngIf="typeaheadLoading===true" class="dropdown-loading">
	<span class="spinner">
		<span class="double-bounce1"></span>
		<span class="double-bounce2"></span>
	</span>
</i>

<div *ngIf="typeaheadNoResults===true" class="dropdown-menu text-xs-center">
  <i>No Results Found</i>
</div>

<template #projectItemTemplate let-project="item" let-index="index">
  <h5 class="text-primary">{{project.title}}</h5>
  <p class="text-truncate text-muted">{{project.description}}</p>
  <ul class="list-inline text-xs-center" *ngIf="project.position.length > 0">
    <li class="list-inline-item btn btn-sm btn-gradient-primary project__skill-item"
        *ngFor="let position of project.position">
      {{position.skill.name}}
    </li>
  </ul>
</template>
