<input class="form-control form-control-sm header__search-form" #search type="text"
       (keyup)="searchByName(search.value)" placeholder="Search project">

<div *ngIf="projects">
    <p *ngIf="projects.length === 0">
        No projects were found
    </p>
    <ul *ngIf="projects.length > 0" class="reset-list select-suggestion__list">
        <li *ngFor="let project of projects" class="select-suggestion__item">
            <a routerLink="/project/{{project.id}}" (click)="removeQuery(search)" class="d-block">
                {{project.title}}
            </a>
        </li>
    </ul>
</div>
