<div class="form-inline dropdown">
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <div *ngIf="label_message" class={{label_class}}>{{label_message}}</div>
    <input [(ngModel)]="asyncSelected"
           [typeahead]="dataSource"
           (typeaheadLoading)="changeTypeaheadLoading($event)"
           (typeaheadNoResults)="changeTypeaheadNoResults($event)"
           (typeaheadOnSelect)="typeaheadOnSelect($event)"
           [typeaheadWaitMs]="200"
           [typeaheadItemTemplate]="skillItemTemplate"
           placeholder="javascript"
           class={{input_class}}
           id="filter"
           autocomplete="off"
    >
  </div>
  <i *ngIf="typeaheadLoading===true" class="dropdown-loading">
				<span class="spinner">
					<span class="double-bounce1"></span>
					<span class="double-bounce2"></span>
				</span>
  </i>

  <div *ngIf="typeaheadNoResults===true && type=='list'" class="dropdown-menu text-center">
    <i class="text-muted">No Results Found</i>
  </div>

  <template #skillItemTemplate let-skill="item" let-index="index">
    {{skill.name}}
  </template>
</div>

