<div class="select-suggestion">
    <div class="form-inline">
        <div class="form-group btn btn-primary btn-sm">
            <label for="filter" class="m-x-1">Filter by skill </label>
            <input [(ngModel)]="asyncSelected"
                   [typeahead]="dataSource"
                   (typeaheadLoading)="changeTypeaheadLoading($event)"
                   (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                   (typeaheadOnSelect)="typeaheadOnSelect($event)"
                   [typeaheadOptionsLimit]="7"
                   [typeaheadItemTemplate]="skillItemTemplate"
                   placeholder="Filter skill"
                   class="form-control"
                   id="filter">
        </div>
    </div>
    <div *ngIf="typeaheadLoading===true">
        <i>loading</i>
    </div>
    <div *ngIf="typeaheadNoResults===true" class="" style="">
        <i>No Results Found</i>
    </div>

    <template #skillItemTemplate let-skill="item" let-index="index">
        <a routerLink="/project/{{skill.id}}" class="d-block">
            {{skill.name}}
        </a>
    </template>
</div>