<app-project-header *ngIf='project' [project]="project"></app-project-header>

<div *ngIf='project'>
  <tabset>
    <tab [active]="true">
      <ng-template tabHeading>
        BRIEF
      </ng-template>
      <app-project-brief [project]="project"></app-project-brief>
    </tab>
    <tab *ngIf="isMember || myProject">
      <ng-template tabHeading>
        ASSETS
      </ng-template>
      <div class="container my-3">
        <app-project-assets [project_id]="project.id"></app-project-assets>
      </div>
    </tab>
    <tab *ngIf="myProject">
      <ng-template tabHeading>
        APPLICANTS
      </ng-template>
      <div class="container my-3">
        <app-project-applicants [project_id]="project.id" [user]="project.user"></app-project-applicants>
      </div>
    </tab>
  </tabset>
</div>
