  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-7">
        <section class="m-y-3">
          <h3 class="title-border title-border--green p-b-1">
            PERSONAL INFO
            <a *ngIf="isMe"  (click)="toggleEditing()" class="pull-xs-right">
              <svg *ngIf = '!editing' class="icon icon-message"><use xlink:href="assets/icons.svg#icon-write"></use></svg>
              <a *ngIf = 'editing' class="btn btn-info btn-lg">APPLY CHANGES</a>
            </a>
          </h3>
          <h2> About me: </h2>
          <p *ngIf="!editing" > EU SUNT CEL MAI TARE DIN PARCARE DE LA FSEGAAAA </p>
          <input *ngIf="editing" type="textarea" [(ngModel)]="description" title="description" />
          <div>
            <p>  Name:
              <span *ngIf="!editing" > {{user.name}} </span>
              <input *ngIf="editing" type="text" [(ngModel)]="name" title="name" />
            </p>
            <p>  Country:
              <span *ngIf="!editing" > {{user.name}} </span>
              <input *ngIf="editing" type="text" [(ngModel)]="country" title="country" />
            </p>
            <p>  City:
              <span *ngIf="!editing" > {{user.name}} </span>
              <input *ngIf="editing" type="text" [(ngModel)]="city" title="city" />
            </p>
            <p> Hobbies:
              <input *ngIf="editing" type="text" [(ngModel)]="hobbie" title="hobbie" />
              <svg *ngIf="editing" class="icon icon-plus"><use xlink:href="./assets/icons.svg#icon-plus"></use></svg>
              <span *ngIf="!editing"> {{user.name}} </span>
              <p *ngIf="editing"> <a> x </a>{{user.name}} </p>
          </div>
          <div>
            Social:
            <a *ngIf = 'user.facebook_id != null' href = 'http://facebook.com/{{user.facebook_id}}'> <span> Facebook </span></a>
            <a *ngIf = 'user.twitter != null' href = 'https://twitter.com/{{user.twitter}}'> <p> Twitter </p></a>
            <a *ngIf = 'user.github_id != null' href = 'http://gihub/{{user.github_id}}'> <p> Github </p></a>
            <a *ngIf = 'user.website != null' href = '{{user.website}}'> <p> Website </p></a>
          </div>
        </section>
      </div>
  </div>
</div>
