<div *ngIf="position" class="container-fluid">
  <h3>{{position.skill.name}}</h3>
  <p>{{position.description}}</p>
  <div *ngIf="myProject === false">
    <a *ngIf="!hasMember" (click)="modal.open()"> APPLY FOR POSITION </a>
    <a *ngIf="hasMember"> POSITION FILLED </a>
  </div>
</div>
<div *ngIf="hasMember">
  <div class="row">
    <div class="col-2">
      <img *ngIf="member.picture" class="profile-img" src="{{member.picture}}?width=30&height=30">
    </div>
    <div >
      <p>{{member.name}} has joined the {{position.skill.name}} skill</p>
    </div>
  </div>
</div>
<app-apply-modal #modal (onApply)="applicationSent($event)" [position]="position.skill.name" [project]="project"></app-apply-modal>

