<div *ngIf="project">
<div class="row">
  <app-applications-card *ngIf="myProject" [project_id]="project_id"></app-applications-card>
  <div>
    <p> I want to create: </p>
    <p> {{project.description}}</p>
  </div>
</div>
  <div class="row">
    {{project.favorite.length}} Followers
    <span *ngFor="let follower of project.favorite"> {{follower.name}}</span>
  </div>
  <br>
  <div>
    <div>
      <h3> Open Positions</h3>
      <p> Make sure you apply on the position that best fits your skills, later on you will receive badges based on the skills
      you've finished projects with and that will help define your profile status. You could also ask {{project.user.name}} to add new Skills
      if you think you can help the project in any other way </p>
    </div>
    <div>
      <div *ngIf="myProject == true">
        <span> Add new position
          <a  (click)="addPosition()">
          <svg class="icon icon-plus">
            <use xlink:href="./assets/icons.svg#icon-plus"></use>
          </svg>
        </a> </span>
      </div>
      <div *ngFor="let position of project.position">
        <app-position-card [myProject]=myProject [position]=position></app-position-card>
      </div>
    </div>
  </div>
</div>
