<div *ngIf="project">
  <!--description-->
  <div class="container">
    <div class="row my-5">
      <div class="col-md-8 col-12 mb-md-0 mb-3">
        <div class="card">
          <div class="card-body">
            <p class="text-muted">I want to create:</p>
            <p class="project-description">{{project.description}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="card">
          <div class="positions__card-title py-2 px-lg-5 px-3">
            <div class="small-feebe mr-2">
              <div class="feebe-head">
                <div class="febee-eyes"></div>
              </div>
            </div>
            Open Positions
          </div>
          <div class="card-body py-1">
            <ul class="list-unstyled mb-3" (click)="scrollDown(positions)">
              <li *ngFor='let position of project.position' class="mt-3">
                <a class="text-muted" href="javascript:;">
                  {{position.skill.name}}
                </a>
                <span class="text-success font-weight-bold float-right"
                      *ngIf='position.member.length === 0'>
                OPEN
              </span>
                <span class="text-danger font-weight-bold float-right"
                      *ngIf='position.member.length  > 0'>
                FILLED
              </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--followers-->
  <div class="bg-primary text-info text-center m-0 py-2">
    <span *ngIf="!project.favorite.length">
      Well looks like nobody is following this project.
    </span>
    <span *ngIf="!project.favorite.length && !myProject">
      That means you can be the first!
    </span>
    <span *ngIf="project.favorite.length" class="text-white">
      {{project.favorite.length}} followers
    </span>
    <span class="ml-3" *ngFor="let follower of project.favorite">
      {{follower.name}}
    </span>
  </div>

  <!--posiions-->
  <div class="jumbotron-dark py-3 px-5" #positions>
    <div class="m-4 text-center">
      <h3> Open Positions</h3>
      <p class="text-info" *ngIf="!myProject">
        Make sure you apply on the position that best fits your skills, later on you will receive badges based on the
        skills you've finished projects with and that will help define your profile status. <br> You could also ask
        <span class="text-success">{{project.user.name}}</span> to add new <b>Skills</b> if you think you can help the project in any other way.
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-2"
           *ngFor="let position of project.position"
           id="positionsInfo">
        <app-position-card
          [myApplications]=myApplications [project]=project [position]=position>
        </app-position-card>
      </div>
    </div>
  </div>

  <!--comments-->
  <div class="container my-5">
    <app-comments
      [project_id]="project.id"
      [owner_id]="project.user.id"
      [comments]="project.comment">
    </app-comments>
  </div>

  <!--related projects-->
  <div *ngIf="related && related.length > 0" class="container my-5">
    <div class="text-center text-muted">
      <h3 class="pb-1">Related projects</h3>
      <p>
        A few other projects in the same category that you might like, or just <a routerLink="/projects"><b>
        browse </b></a> for yourself
      </p>
    </div>
    <div class="row justify-content-md-center">
      <div *ngFor="let project of related" class="col-12 col-md-4 my-2">
        <app-small-project-card [project]=project></app-small-project-card>
      </div>
    </div>
  </div>
</div>
