// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

fieldset {
  border: $gray-lighter 1px solid;
}
