// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

fieldset {
  border: $gray-lighter 1px solid;
}

legend {
  font-size: 1.3rem;
}

// Small devices (landscape phones, 544px and up)
@media (max-width: map-get($grid-breakpoints, sm)) {
  html {
    font-size: 15px;
  }
}
