// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  //font: normal1.2em/1.6 'Open Sans', sans-serif;
  font: normal 1.03em/1.6 'Roboto', sans-serif;
  //font: normal 1.2em/1.6 'Lato', sans-serif;
  //font: normal 1.2em/1.6 'Source Sans Pro', sans-serif;
  //font: normal 1em/1.6 'Raleway', sans-serif;
  //font: normal 1.1em/1.6 'PT Sans', sans-serif;
  //font: normal 1.2em/1.6 'Noto Sans', sans-serif;
  color: $text-color;
  height: 100%;
}

a {
  color: $brand-color;
  text-decoration: none;
}
