/**
 * Basic typography style for copy text
 */

.title-border {
  margin-bottom: .8em;
  position: relative;
}

.title-border:after {
  content: '';
  position: absolute;
  width: 3em;
  height: 5px;
  //background: linear-gradient(to right, $light-grey, rgba(255, 255, 255, 0));
  background: $brand-primary;
  border-radius: $border-radius;
  display: block;
  top: 1.6em;
}

.title-border--green:after{
  background: $brand-info;
}