/**
 * Basic typography style for copy text
 */

.filter-link {
  color: $perrywinkle;
}

.filter-link:hover {
  color: $light-periwinkle;
}

.small-text {
  font-size: $font-size-sm;
}
.tiny-text {
  font-size: $font-size-xs;
}
