.is-about {
  background: url(/assets/planets-green.svg) no-repeat -1% 40%;
  background-size: 23rem;
  animation: slide-right-background 1s ease-in forwards;
}

@keyframes slide-right-background {
  0% {
    background-position: -1% 40%;
  }
  100% {
    background-position: 5% 50%;
  }
}
