// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// Common
.is-home .header-site {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}

.is-home .header__search-form {
  background: rgba(255, 255, 255, .4);
}

// Home main section

.home-main-section {
  background: radial-gradient(at 60% bottom, #706ec2, #433a8e, #433a8e);
  flex-direction: column;
  height: 100vh;
}

//Section 2

.home-section__2 {
  margin: 10rem auto;
}

.home-section__2__container {
  position: relative;
}

.home-section__2__container:before {
  content: '';
  background: $brand-info;
  display: block;
  width: 60%;
  height: 25px;
  position: absolute;
  top: 3.8rem;
  left: 20%;
  z-index: -5;
}

.home-section__2__icon {
  font-size: 2rem;
  background: lighten($brand-info, 20%);
  border-radius: 50%;
  box-shadow: 1px 1px 1px $brand-primary;
  line-height: 1.39;
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .home-main-section {
    height: 100%;
  }

  .home-main-section h1 {
    font-size: 1.6rem;
  }

  .home-main-section h2 {
    font-size: 1.3rem;
  }

  .home-section__2 {
    margin: 3rem auto;
  }
}
