// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// Common
.is-home .header-site {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}

.is-home .header__search-form {
  background: rgba(255, 255, 255, .4);
}

// Home main section

.home-main {
  flex-direction: column;
  height: 100vh;
  min-height: 750px;
}

.home-backgroud {
  background: radial-gradient(at 60% bottom, #706ec2, #433a8e, #433a8e);
}

//Section 2

.home-section {
  margin: 6rem auto;
}

.home-section__container {
  position: relative;
}


@media (max-width: map-get($grid-breakpoints, sm)) {
  .home-main {
    height: 100%;
  }

  .home-main h1 {
    font-size: 1.6rem;
  }

  .home-main h2 {
    font-size: 1.3rem;
  }
}
