<header
  class="header-site"
  [class.show-navigation]="showNavigation"
  [class.pt-0]="showSearch"
>
  <app-search *ngIf="showSearch"></app-search>

  <div class="container-fluid px-5" [class.jumbotron-fluid]="showSearch" [class.py-3]="showSearch">
    <div class="row align-items-center">
      <div class="col-md-2 col-12">
        <h1 class="header-logo">
          <span class="d-inline d-md-none">
            <a href="javascript:;" (click)="toggleNavigation()"
               class="toggle-burger btn btn-sm btn-circle-sm mr-2">
              <svg class="icon-xs">
                <use xlink:href="assets/svg/icons.svg#icon-menu"></use>
              </svg>
            </a>
          </span>
          <a routerLink="/">
            <svg class="logo">
              <use xlink:href="assets/svg/logo.svg#logo"></use>
            </svg>
          </a>
        </h1>
      </div>
      <div class="col-md-10 col-12 navigation-wrap d-none d-sm-block">
        <nav class="nav justify-content-md-end justify-content-around align-items-center">
          <a class="nav-item mx-md-3" routerLink="/start-project">
            <b class="text-success">Start a project</b>
          </a>
          <a class="nav-item mx-md-3" routerLink="/projects" routerLinkActive="active">
            <b>Browse Projects</b>
          </a>
          <div class="nav-item mx-md-3">
            <app-user-nav [user]="user" *ngIf="loggedIn"></app-user-nav>
            <a *ngIf="!loggedIn" (click)="loginModal.open()"
               class="nav-item mx-md-3" href="javascript:;">
              Login
            </a>
          </div>
          <div class="nav-item mx-md-3" (click)="toggleSearch()">
            <a href="javascript:;">
              <svg class="icon icon-elipsis">
                <use xlink:href="assets/svg/icons.svg#icon-search"></use>
              </svg>
            </a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<app-login-modal #loginModal></app-login-modal>
