<div bsModal #loginModal="bs-modal" class="modal grow"
     tabindex="-1" role="dialog"
     aria-labelledby="Login"
     aria-hidden="true">
  <div class="modal-dialog modal-fluid">
    <div class="modal-content">
      <div class="modal-body jumbotron-fluid">
        <div class="sprite sprite-login-planet hidden-sm-down"></div>
        <div class="sprite sprite-satelite hidden-sm-down"></div>
        <a class="float-right text-white mr-4"
           href="javascript:;"
           (click)="closeLoginModal()"
           aria-label="Close"
        >
          <span aria-hidden="true">&#10006;</span>
        </a>
        <h3 class="modal-title text-center mb-5">First thing's first
          Spacer!</h3>
        <div class="container-fluid container-small">
          <app-feebe-message
            [message]="'We have to get you processed through. Lets see your Docking Pass...'">
          </app-feebe-message>
          <div class="row flex-items-xs-center my-3">
            <div class="col-md-3 col-6">
              <div class="docking-pass">
                <div class="pass-header">
                  FACEBOOK ID
                </div>
                <div class="pass-body">
                  <button class="btn btn-login"
                          (click)="facebookLogin()">
                    <span class="sprite sprite-facebook-login"></span>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-6">
              <div class="docking-pass">
                <div class="pass-header">
                  GITHUB ID
                </div>
                <div class="pass-body">
                  <button class="btn btn-login"
                          (click)="gitHubLogin()">
                    <span class="sprite sprite-github-login"></span>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12 mt-4 mt-md-0">
              <div class="docking-pass">
                <div class="pass-header">
                  LONEWOLF ID
                </div>
                <div class="pass-body">
                  <div *ngIf="showEmailInput" class="form-group">
                    <input class="form-control input-basic" title="email"
                           type="email"
                           placeholder="E-mail ID"
                           [(ngModel)]="email" (keyup.enter)="loginByEmail()"
                    >
                    <button [disabled]="email.length===0"
                            class="btn btn-success text-white w-100 my-2"
                            (click)="loginByEmail()"
                    >
                      <small>SEND LOGIN LINK</small>
                    </button>
                    <p class="text-info text-center small-text">
                      {{emailMessage}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
