<div bsModal #applyModal="bs-modal" class="modal grow"
     tabindex="-1" role="dialog"
     aria-hidden="true">
  <div *ngIf="position" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="modal__close btn"
                (click)="applyModal.hide()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title text-center">You are about to apply for {{position.skill.name}}</h1>
      </div>
      <h3> If you are sure you want to help out with this skill, press Apply and {{project.user.name}} will be notified that you are interested.
        Don't worry if you don't hear immediately, some people are busy, hang in there</h3>
      <h3> {{project.user.name}} also wants to know if...</h3>

      <ol class="mb-2">
        <li *ngFor="let question of project.application_questions; let i = index" class="form-group">
          <label for="question">{{question}}</label>
          <input class="form-control" id="question" type="text" [(ngModel)]="application.answers[i]"
                 placeholder="Answer {{i+1}}">
        </li>
      </ol>
      <hr>
      <div class="form-group">
        <label for="message">Optional message</label>
        <textarea class="form-control" rows="6" id="message" [(ngModel)]="application.message"></textarea>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="sendApplication()">Apply for {{position.skill.name}}</button>
      </div>
    </div>
  </div>
</div>
