<div class="jumbotron-fluid">
  <div class="container">
    <h2>Start a new project</h2>
    <section class="container container-small mx-auto my-3">
      <form #updateForm="ngForm" (ngSubmit)="storeProject()">
        <div class="form-group">
          <label for="title">Title <span class="text-danger font-weight-bold">*</span></label>
          <input class="form-control" id="title" type="text" required minlength="4" maxlength="20" name="title"
                 placeholder="Project title" autocomplete="off"
                 [(ngModel)]="project.title" #title="ngModel">
          <i *ngIf="project.title.length >= 20" class="form-text text-danger">
            Title cannot be more than 20 characters long.</i>
          <div *ngIf="title.errors && (title.dirty || title.touched)">
            <i [hidden]="!title.errors.required" class="form-text text-danger">Title is required</i>
            <i [hidden]="!title.errors.minlength" class="form-text text-danger">Title must be at least 4 characters
              long.</i>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Description <span class="text-danger font-weight-bold">*</span></label>
          <textarea class="form-control" id="description" required minlength="4" name="description"
                    placeholder="Project description"
                    [(ngModel)]="project.description" #description="ngModel" rows="6"></textarea>

          <div *ngIf="description.errors && (description.dirty || description.touched)">
            <i [hidden]="!description.errors.required" class="form-text text-danger">Description is required</i>
            <i [hidden]="!description.errors.minlength" class="form-text text-danger">Description must be at least 4
              characters long.</i>
          </div>
        </div>

        <fieldset class="form-group p-1">
          <legend class="text-center">Positions <span class="text-danger font-weight-bold">*</span></legend>
          <app-autocomplete #autocomplete (onSelect)="onSelect($event)" wrap_class="form-group"
                            label_message="Required skill"
                            label_show="true"></app-autocomplete>
          <div class="form-group">
        <textarea class="form-control mt-1" type="text" id="position-desc" placeholder="Position description" #position
                  rows="4"></textarea>
            <i [hidden]="!positionError" class="form-text text-danger">{{positionError}}</i>
          </div>
          <div class="text-right">
            <button class="btn btn-info" type="button" (click)="addPosition(position, autocomplete)">Add Position
            </button>
          </div>
        </fieldset>

        <ul class="list-unstyled">
          <li *ngFor="let position of project.position; let i = index" class="panel mb-1 p-1">
            <h5>{{position.name}}
              <button class="btn btn-outline-danger btn-sm pull-xs-right btn-circle-sm font-weight-bold" type="button"
                      (click)="removePosition(i)">&times;</button>
            </h5>
            <p>{{position.description}}</p>
          </li>
        </ul>

        <div class="form-group">
          <label for="question">Questions</label>
          <div class="row">
            <div class="col-md-10 col-9">
              <input class="form-control" id="question" type="text" #question
                     placeholder="How much time can you spend on this project?">
            </div>
            <div class="col-md-2 col-3">
              <button class="btn btn-info" type="button" (click)="addQuestion(question)">Add</button>
            </div>
            <i [hidden]="!questionError" class="form-text text-danger">{{questionError}}</i>
          </div>
        </div>
        <ol>
          <li *ngFor="let question of project.application_questions; let i = index">
            {{question}}
            <button class="btn btn-sm btn-danger" type="button" (click)="removeQuestion(i)">&times;</button>
          </li>
        </ol>
        <hr>
        <div class="text-center">
          <button class="btn btn-primary" type="submit"
                  [disabled]="!updateForm.form.valid || project.position.length < 1">
            Add project
          </button>
        </div>
      </form>
    </section>
  </div>
</div>
