// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Colors

$dark-purple: #3a3584;
$purple: #4a459c;
$dark-iris: #574fac;
$iris: #706ec2;
$perrywinkle: #8c8add;
$light-periwinkle: #bfbeff;
$turquoise: #50e3c2;
$yellow: #f6be24;
$red: #e96a5e;

$primary: $dark-iris;
$secondary: $perrywinkle;
$success: $turquoise;
$info: $perrywinkle;
$warning: $yellow;
$danger: $red;

$gray-darkest: #484848;
$gray-dark: #55595c;
$gray: #85879e;
$gray-light: #c8c8c8;
$gray-lighter: #e7e7e7;
$gray-lightest: #f0f0f0;

$text-muted: $gray;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-flex: true;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;
$enable-print-styles: false;

// Heading size
$font-size-h1: 2.3rem;
$font-size-h2: 1.7rem;
$font-size-h3: 1.45rem;
$font-size-h4: 1.2rem;
$font-size-h5: 1.15rem;
$font-size-h6: 1rem;

// Body
//
// Settings for the `<body>` element.
$font-size-base: 1rem;
$line-height-base: 1.6;
$font-size-sm: .8rem;

$body-bg: $gray-lightest;
$body-color: $gray-darkest;

$font-family-sans-serif: 'Muli';
$font-family-monospace: Consolas, "Liberation Mono", "Courier New", monospace;
$headings-font-family: $font-family-sans-serif;

// Links
$link-color: $turquoise;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 576px,
  md: 820px,
  lg: 940px,
  xl: 1050px
);

// Components

$border-radius: 6px;

//Modal
$modal-backdrop-bg: rgba(0, 0, 0, .8);
$modal-dialog-sm-up-margin-y: 100px;

//Form
$input-border-color: #fff;

//Progress
$progress-height: .5rem;
