// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: #5b40b4 !default;

/// Light grey
/// @type Color
$light-grey: #f5f5f5 !default;

/// Medium grey
/// @type Color
$mid-grey: #999 !default;

/// Dark grey
/// @type Color
$dark-grey: #444 !default;

$container-max-widths: (
        sm: 576px,
        md: 720px,
        lg: 940px,
        xl: 960px
);