// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$zindex: (
  lowest : -3,
  lower : -2,
  low : -1,
  high : 1,
  higher : 2,
  highest : 3,
  max : 9999
);