<section class="d-flex container justify-content-center align-items-center home-section home-section__2">
  <div class="row text-center home-section__container">
    <div class="col-12 mb-4">
      <app-section-header
        [header]="main_text"
        [subheader]="secondary_text">
      </app-section-header>
    </div>

    <div class="col-md-6 col-12">
      <app-home-paragraph
        [header]="first_header"
        [text]="first_text"
        [image_name]="first_image"
      ></app-home-paragraph>
    </div>
    <div class="col-md-6 col-12">
      <app-home-paragraph
        [header]="second_header"
        [text]="second_text"
        [image_name]="second_image"
      ></app-home-paragraph>
    </div>

    <div class="col-12">
      <div class="d-block d-sm-inline-block mb-3 mb-sm-0">
        <div *ngIf="read_more" class="btn btn-lg btn-info mx-md-3" (click)="goToNextSection()">
          READ MORE
        </div>
      </div>
      <div class="btn btn-success text-white btn-lg mx-md-4" (click)="getStarted()">
        GET STARTED
      </div>
    </div>
  </div>
</section>
