// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header-site {
  background: $dark-iris;
  padding: 1.4em 0;
  color: #fff;
  z-index: 100;
}

.header-site a {
  color: #fff;
}

.header-logo {
  font-size: $font-size-base;
  line-height: 1.4;
  margin: 0;
  padding: .2em;
  z-index: map-get($zindex, highest);;
  position: relative;
}

//.header-logo:after {
//  content: '';
//  display: inline;
//  position: absolute;
//  background: rgba(255, 255, 255, .4);
//  height: 100%;
//  width: 3px;
//  top: 0;
//  right: 0;
//  border-radius: $border-radius-sm;
//}

.header__search-form {
  border-radius: 12px;
  background: darken($brand-primary, 6%);
  color: #fff;
}

.header__search-form::placeholder {
  color: #fff;
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .header-site .dropdown {
    vertical-align: sub;
  }

  .header-site .dropdown__content {
    left: -195px;
  }

  .header-logo:after {
    display: none;
  }
}
