<section class="col-md-12 m-t-2">
  <ul *ngIf="comments && comments.length > 0" class="list-unstyled">
    <li *ngFor="let comment of comments" class="comment-item">
      <div class="comment__left-side p-r-1">
        <img *ngIf="comment.user.picture" class="profile-img" src="{{comment.user.picture}}?s=30">
      </div>
      <div class="comment__content">
        <a routerLink="/profile/{{comment.user_id}}">{{comment.user.name}}</a> &sdot; <span
        class="text-muted"> {{ comment.created_at | timeAgo}} </span>
        <p>{{comment.text}}</p>
      </div>
    </li>
  </ul>
  <p *ngIf="comments && comments.length == 0" class="text-muted">Add a comment to start a conversation</p>
  <div *ngIf="state.isLoggedIn()" class="form-group row p-x-1">
    <input class="form-control col-xs-10" type="text" #text placeholder="Add your comment">
    <button (click)="addComment(text)" class="btn btn-info text-primary col-xs-2">
      <svg class="icon">
        <use xlink:href="assets/icons.svg#icon-paperplane"></use>
      </svg>
    </button>
  </div>
  <i *ngIf="!state.isLoggedIn()" class="text-muted">Login in order to post comments.</i>
</section>
