<div class="jumbotron-fluid">
  <div class="container">
    <h2> Projects <b> Overview </b></h2>
  </div>

<!--filter options-->
  <div class="container container-medium">
    <div class="row mt-5">
        <tabset class="col-lg-8 col-md-7">
          <tab [active]="true">
            <template tabHeading>
              PROJECTS
            </template>
            <app-projects-list-overview [feebeTitle]="feebeTitle" [feebeDescriptionJoined]="feebeDescriptionJoined" [feebeTitleJoined]="feebeTitleJoined" [feebeDescription]="feebeDescription" [projects]="projects" [joinedProjects]="joinedProjects"></app-projects-list-overview>
          </tab>
          <tab >
            <template tabHeading>
              FOLLOWING
            </template>
            <app-projects-list-overview [projects]="followingProjects"></app-projects-list-overview>
          </tab>
          <tab >
            <template tabHeading>
              APPLIED FOR
            </template>
            <app-projects-list-overview [projects]="appliedProjects"></app-projects-list-overview>
          </tab>
        </tabset>
      </div>
    </div>
  </div>


