<section class="col-md-12 m-t-2">
  <div class="text-xs-center">
    <button *ngIf="page.next" (click)="loadMore()" class="btn btn-secondary btn-link-primary">load more</button>
  </div>
  <ul *ngIf="messages && messages.length > 0" class="list-unstyled">
    <li *ngFor="let message of messages" class="comment-item clearfix"
        [class.comment-item__mine]="message.message.user_id == owner_id"
        [class.d-block]="message.message.user_id == owner_id">
      <div class="comment__content" [class.pull-xs-right]="message.message.user_id == owner_id">
        <a routerLink="/profile/{{message.message.user_id}}">{{message.message.user_name}}</a> &sdot; <span
        class="text-muted">  {{message.created_at | timeAgo}} </span>
        <p>{{message.message.text}}</p>
      </div>
    </li>
  </ul>
  <p *ngIf="messages && messages.length == 0" class="text-muted">Add a message to start a conversation between project
    members</p>
  <div class="form-group row p-x-1">
    <input class="form-control col-xs-10" type="text" #text
           placeholder="Add your message (only visible to project members)"
           (keyup.enter)="addMessage(text)">
    <button (click)="addMessage(text)" class="btn btn-info text-primary col-xs-2">
      <svg class="icon">
        <use xlink:href="assets/icons.svg#icon-paperplane"></use>
      </svg>
    </button>
  </div>
</section>
