<div *ngIf="applications">
    <h3> Joined the project </h3>
    <ul class="row list-unstyled flex-items-xs-center">
      <ng-template ngFor let-member [ngForOf]="applications">
        <li *ngIf="member.accepted" class="col-md-4">
          <app-applications-card [application]=member></app-applications-card>
        </li>
      </ng-template>
    </ul>
    <p *ngIf='nr_of_members === 0'> No one has joined your project yet</p>
  <h3> Applying for the project </h3>
    <ul class="row list-unstyled flex-items-xs-center">
      <ng-template ngFor let-user [ngForOf]="applications">
        <li *ngIf="!user.accepted" class="col-md-4">
          <app-applications-card [application]=user (onAccept)='acceptApplication($event)' (onReject)='declineApplication($event)'></app-applications-card>
        </li>
      </ng-template>
    </ul>
  <p *ngIf='nr_of_applying === 0'> No applicants so far...</p>
</div>
