<div *ngIf="applications && user" class="container my-5">
  <section>
    <h3 class="text-muted"><b>Joined</b> the project</h3>
    <div class="row mt-3">
      <div class="col-md-4 mb-3">
        <app-applications-card [application]="user" [owner]="true"></app-applications-card>
      </div>
      <ng-template ngFor let-member [ngForOf]="applications">
        <div *ngIf="member.accepted" class="col-md-4 mb-3">
          <app-applications-card [application]="member"></app-applications-card>
        </div>
      </ng-template>
    </div>
  </section>

  <section class="mt-5">
    <h3 class="text-muted"><b>Applying</b> for the project </h3>
    <div class="row mt-3">
      <ng-template ngFor let-user [ngForOf]="applications">
        <div *ngIf="!user.accepted" class="col-md-4 mb-3">
          <app-applications-card
            [project]=project
            [application]=user
            (onAccept)='acceptApplication($event)'
            (onReject)='declineApplication($event)'>

          </app-applications-card>
        </div>
      </ng-template>
    </div>
    <p *ngIf='nr_of_applying === 0'> There are no new applications.</p>
  </section>
</div>
