<div class="panel p-4 my-5">
  <!--card header-->
  <div class="row">
    <div class="col-md-1 col-sm-2 col-3">
      <img class="profile-img"
           *ngIf="project.user.picture"
           src="{{project.user.picture+'?s=40&width=40&height=40'}}">
    </div>
    <div class="col-md-7 col-sm-7 col-6">
      <h3 class="project__title mb-0">
        <a routerLink="/project/{{project.id}}">
          <strong>{{project.title}}</strong>
        </a>
      </h3>
      <span class="text-muted project__date small-text"> Posted {{ project.created_at | timeAgo}}</span>
    </div>
    <div class="col-md-4 col-sm-3 col-3 text-right">
      <span *ngIf="!isFollowed && !myProject" class="mr-1 text-muted" title="follow">
        <span class="d-none d-sm-inline-block">Follow Project?</span>
          <a href="javascript:;" (click)="follow(modal)">
            <svg class="icon icon-star"><use xlink:href="assets/svg/icons.svg#icon-star"></use></svg>
          </a>
      </span>
      <span *ngIf="isFollowed && !myProject" class="mr-1 text-muted" title="following">
        <span class="d-none d-sm-inline-block">Following!</span>
        <a href="javascript:;" (click)="follow(modal)">
          <svg class="icon icon-star full"><use xlink:href="assets/svg/icons.svg#icon-star-full"></use></svg>
        </a>
    </span>
    </div>
  </div>
  <hr class="project__card-line">

  <!--project details -->
  <div>
    <div class="row">
      <div class="col-sm-3 col-12 project__card-label">
        I want to create:
      </div>
      <div class="col-sm-9 col-12 text-dark">
        {{project.description | shortText: 210}}
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-3 col-12 project__card-label">
        Skills needed:
      </div>
      <div class="col-sm-9 col-12">
        <ul class="list-inline" *ngIf="project.position.length > 0">
          <li
              *ngFor="let position of project.position"
              (click)="clickSkill(position.skill)"
              class="list-inline-item btn btn-sm btn btn-outline-info project__skill-item mr-3 mb-1"
              [class.project__skill-taken]="!position.status">
            {{position.skill.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="project__card-line">

  <!--project info-->
  <div class="row text-muted">
    <div class="col-sm-3 col-12">
    <span class="small-text">
      Created by <br>
      <a routerLink="/profile/{{project.user_id}}">
        <b>{{project.user.name}}</b>
      </a>
    </span>
    </div>
    <div class="col-sm-9 col-12 project__subinfo">
    <span class="small-text">
      <b *ngIf="project.favorite_count == 0 && !myProject"> Be the first to follow this project! </b>
      <span *ngIf="project.favorite_count > 0">
      This project has <b> {{project.favorite_count}}</b>
      <b *ngIf="project.favorite_count == 1"> follower </b>
      <b *ngIf="project.favorite_count != 1"> followers </b>
    </span>
    </span>
    </div>
  </div>
</div>

<app-login-modal #modal></app-login-modal>
