<section class="col-md-12 m-t-2">
  <ul *ngIf="user_applications && user_applications.length > 0" class="list-unstyled">
    <li *ngFor="let application of user_applications" class="m-t-1 m-b-3 panel panel--top--bottom w-100">
      <h4 class="p-a-1 bg-primary"><strong>{{application.user.name}}</strong> for <strong>{{application.position.skill.name}}</strong>
        position</h4>
      <div class="p-a-1">
        <ol>
          <li *ngFor="let answer of application.answers; let i = index">
            <p>{{project.application_questions[i]}}</p>
            <p>{{answer}}</p>
          </li>
        </ol>
        <hr *ngIf="application.message">
        <p *ngIf="application.message">{{application.message}}</p>
        <hr>
        <div class="text-xs-right">
          <button (click)="respondToApplication(application.id, i, true)" class="btn btn-primary">Accept</button>
          <button (click)="respondToApplication(application.id, i, false)" class="btn btn-danger">Decline</button>
        </div>
      </div>
    </li>
  </ul>
  <i *ngIf="!user_applications || user_applications.length === 0" class="text-muted">No new applications for this project.</i>
</section>
