
<div *ngIf="user">

  <div class="jumbotron-fluid">
    <div class="container">
      <h2 class="m-y-0">
        <img *ngIf="user.picture" class="profile-img" src="{{user.picture}}?s=120&width=120&height=120">
        {{user.name}}
        <br/>
        Joined {{user.created_at | date: 'dd of MMMM, yyyy'}}
      </h2>
    </div>
    <div class="col-lg-10 text-lg-right text-xs-center">
      <a id="personal"
         href="javascript:;"
         (click) = 'setPersonalInfoPage()'
         class="btn font-weight-bold m-l-1"
         [class.btn-link-info]="isPersonalActive">
        PERSONAL
      </a>
      <a id="badges"
         href="javascript:;"
         (click) = 'setBadgesPage()'
         class="btn font-weight-bold m-l-1"
         [class.btn-link-info]="isBadgesActive">
        BADGES
      </a>
    </div>
  </div>
  <div *ngIf=!isMe class="container">
    <h2 class="m-y-0">
      <svg class="icon icon-message"><use xlink:href="assets/icons.svg#icon-message"></use></svg>
      SEND MESSAGE
    </h2>
  </div>
  <app-personal-info *ngIf="isPersonalActive" [user]=user></app-personal-info>
  <app-badges *ngIf="isBadgesActive"></app-badges>
</div>
