<div class="card profile-card my-3">
  <div class="card-block">
    <!--header-->
    <div class="row">
      <div class="col-6">
        <h5 class="title-border title-border--green p-b-1">CRAFTS & SKILLS</h5>
      </div>
      <div class="col-6 text-right">
        <a *ngIf="isMe" (click)="toggleEditing()" class="pull-xs-right">
          <svg *ngIf="!editing" class="icon icon-md icon-message text-muted">
            <use xlink:href="assets/icons.svg#icon-write"></use>
          </svg>
          <button *ngIf="editing" (click)="saveChanges()" class="btn btn-success text-white">
            <small>APPLY CHANGES</small>
          </button>
        </a>
      </div>
    </div>
    <hr>
    <!--skills-->
    <div>
      <div class="row" *ngIf="editing">
        <div class="col-9">
          <input class="form-control input-basic" placeholder="Add Skill" title="newSkill" [(ngModel)]="newSkill">
          <input class="form-control input-basic mt-1" type="text" placeholder="Skill Level" title="newSkillLevel"
                 [(ngModel)]="newSkillLevel">
        </div>
        <div class="col-3 text-right">
          <button (click)="addNewSkill()" class="btn btn-success text-white">
            <svg class="icon icon-plus">
              <use xlink:href="./assets/icons.svg#icon-plus"></use>
            </svg>
          </button>
        </div>
      </div>
      <ul class="profile__skills-list">
        <li *ngFor="let skill of newSkills" class="my-4">
          {{skill.name}}
          <a *ngIf="editing" (click)="removeSkill(skill)" class="float-right">
            <svg class="icon icon-delete_forever text-muted">
              <use xlink:href="assets/icons.svg#icon-delete_forever"></use>
            </svg>
          </a>
          <div class="progress mt-2">
            <div class="progress-bar bg-info" role="progressbar" [style.width]="skill.skill_level + '%'"
                 aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
