<nav class="navbar">
    <a routerLink="/" routerLinkActive="active">Projects</a>
    <a routerLink="/about" routerLinkActive="active">About</a>

    <button *ngIf="!loggedIn" (click)="login()">Login</button>

    <div *ngIf="loggedIn">
        <a routerLink="/profile/{{user.id}}" routerLinkActive="active">
            {{user.name}}
        </a>
        <a routerLink="/settings" routerLinkActive="active">
            Settings
        </a>
        <button (click)="logout()">Logout</button>
    </div>

</nav>