<div class="panel py-4 px-3">
  <!--card header-->
  <div class="row">
    <div class="col-3">
      <a routerLink="/profile/{{project.user.id}}">
      <img class="profile-img"
           *ngIf="project.user.picture"
           src="{{project.user.picture+'?s=40&width=40&height=40'}}">
      </a>
    </div>
    <div class="col-7">
      <div class="project__title mb-0">
        <a routerLink="/project/{{project.id}}">
          <strong>{{project.title}}</strong>
        </a>
      </div>
      <span class="text-muted project__date tiny-text"> Posted {{ project.created_at | timeAgo}}</span>
    </div>
    <div class="col-2">
        <span class="mr-1 text-muted float-right">
          <a href="javascript:;" (click)="follow(modal)">
            <svg *ngIf="!isFollowed && !myProject" class="icon icon-star" title="follow">
              <use xlink:href="assets/svg/icons.svg#icon-star"></use>
            </svg>
            <svg *ngIf="isFollowed && !myProject" class="icon icon-star full" title="following">
              <use xlink:href="assets/svg/icons.svg#icon-star-full"></use>
            </svg>
          </a>
        </span>
    </div>
  </div>

  <!--project details -->
  <div>
    <div class="row">
      <div class="col-12 text-gray-dark">
        {{project.description}}
      </div>
      <div class="col-12 mt-4">
        <ul class="list-inline" *ngIf="project.position.length > 0">
          <li (click)="filterProjects(position.skill.id); autocomplete.setValue(position.skill.name)"
              class="list-inline-item btn btn-sm btn btn-outline-secondary project__skill-item mr-3 mb-1"
              *ngFor="let position of project.position">
            {{position.skill.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-login-modal #modal></app-login-modal>
