<div class="jumbotron-fluid">
  <div class="container">
    <h2> We think you are going to have</h2>
    <h2> A great collaboration </h2>
  </div>
</div>
  <div class="row">
    <div class="col-lg-6 text-lg-left text-xs-center">
      <div class="form-inline">
        <app-autocomplete #autocomplete
                          [type]="'list'"
                          (onSelect)="onSelect($event)"
                          label_show="true">
        </app-autocomplete>
      </div>
    </div>
    <div class="col-lg-6 text-lg-right text-xs-center">
      <a id="all-projects"
         href="javascript:;"
         (click)="getProjects(1); autocomplete.resetValue();"
         class="btn font-weight-bold m-l-1"
         [class.btn-link-info]="isRecentActive">
        RECENT
      </a>
      <a id="popular-projects"
         href="javascript:;"
         (click)="getPopularProjects(); autocomplete.resetValue();"
         class="btn font-weight-bold m-l-1"
         [class.btn-link-info]="isPopularActive">
        POPULAR
      </a>
      <a
         id="recommended-projects"
         href="javascript:;"
         (click)="getRecommendedProjects(modal); autocomplete.resetValue();"
         class="btn font-weight-bold m-l-1"
         [class.btn-link-info]="isRecommendedActive">
        RECOMMENDED
      </a>
    </div>
  </div>

<div *ngIf="projects && projects.length > 0" class="container container-small">
  <ul class="project-list list-unstyled">
    <li *ngFor="let project of projects" class="panel p-a-2 m-x-auto m-y-3">
      <app-project-card [project]=project> </app-project-card>
    </li>
  </ul>
  <div class="text-xs-center row m-y-1">
    <div class="col-xs">
      <button (click)="prevPage()" *ngIf="page.prev" class="btn btn-info">&#10096;</button>
    </div>
    <div class="col-xs">
      <span *ngIf="page.prev || page.next" class="btn">{{page.current_page}}</span>
    </div>
    <div class="col-xs">
      <button (click)="nextPage()" *ngIf="page.next" class="btn btn-info">&#10097;</button>
    </div>
  </div>
</div>

<div *ngIf="projects && projects.length === 0" class="container container-small text-xs-center m-y-3">
  <span class="text-primary display-3">&#9785;</span>
  <h5 class="text-muted text-uppercase">No projects were found</h5>
  <hr>
  <a routerLink="/start-project" class="btn btn-primary">Be the first to start a project</a>
</div>

<app-login-modal #modal></app-login-modal>
