<!--header-->
<div class="sprite sprite-list-planet-1"></div>
<div class="jumbotron-fluid project-list-header">
  <div class="container">
    <app-section-header
      [header]="'We think you are going to have'"
      [subheader]="'A great collaboration'">
    </app-section-header>
  </div>
  <div class="sprite sprite-list-planet-2"></div>
</div>

<!--filter options-->
<div class="container container-medium">
  <div class="row mt-5">
    <div class="col-lg-6 text-lg-left text-center">
      <app-autocomplete
        #autocomplete
        [type]="'filter-list'"
        [label_message]="'FILTER BY SKILL'"
        (onSelect)="onSelect($event)"
      >
      </app-autocomplete>
    </div>
    <div class="col-lg-6 text-lg-right text-center">
      <a id="all-projects"
         href="javascript:;"
         (click)="getProjects(1); autocomplete.resetValue();"
         class="btn font-weight-bold ml-1  filter-link"
         [class.btn-link-info]="isRecentActive">
        RECENT
      </a>
      <a id="popular-projects"
         href="javascript:;"
         (click)="getPopularProjects(); autocomplete.resetValue();"
         class="btn font-weight-bold ml-1 filter-link"
         [class.btn-link-info]="isPopularActive">
        POPULAR
      </a>
      <a
        id="recommended-projects"
        href="javascript:;"
        (click)="getRecommendedProjects(modal); autocomplete.resetValue();"
        class="btn font-weight-bold ml-1 filter-link"
        [class.btn-link-info]="isRecommendedActive">
        RECOMMENDED
      </a>
    </div>
  </div>
</div>

<div *ngIf="projects && projects.length > 0" class="container container-small">
  <!--project list-->
  <ul class="project-list list-unstyled">
    <li *ngFor="let project of projects">
      <app-project-card [project]=project></app-project-card>
    </li>
  </ul>
  <!--pagination-->
  <div class="row mb-3">
    <div class="col">
      <button (click)="prevPage()" [disabled]="!page.prev" class="btn btn-info">
        &#10096;</button>
    </div>
    <div class="col text-center">
      <span *ngIf="page.prev || page.next"
            class="btn">{{page.current_page}}</span>
    </div>
    <div class="col text-right">
      <button (click)="nextPage()" [disabled]="!page.next" class="btn btn-info">
        &#10097;</button>
    </div>
  </div>
</div>

<!--loading-->
<app-loader *ngIf="!projects"></app-loader>

<!--no projects-->
<div *ngIf="projects && projects.length === 0" class="container container-small text-center my-5">
  <h5 class="text-muted text-uppercase">The projects you are looking for are not here...</h5>
</div>
