<section
  class="d-flex container-fluid justify-content-center align-items-center mx-auto home-main-section pt-5">
  <div class="row my-5">
    <div class="col my-sm-4">
      <app-section-header
        [header]="'Got an idea for a project?'"
        [subheader]="'You are not alone'">
      </app-section-header>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <app-home-card
        [main_text]="'The Path of the Terraformer'"
        [secondary_text]="'The Settlers. The Craftsmen. The Artists. The ones who want to change the world'"
        [image_name]="'terraformer'"
        [button_text]="'START YOUR OWN PROJECT'"
        [link]="'/start-project'"
      ></app-home-card>
    </div>
    <div class="col-sm-6">
      <app-home-card
        [main_text]="'The Path of the Space Wanderer'"
        [secondary_text]="'The Rebels. The Misfits. The Pirates. The ones who find a way in the impossible.'"
        [image_name]="'space_wanderer'"
        [button_text]="'BROWSE EXISTING PROJECTS'"
        [link]="'/projects'"
      ></app-home-card>
    </div>
  </div>
  <div class="sprite sprite-home-planet-1"></div>
  <div class="sprite sprite-home-planet-2"></div>
</section>

<section class="container home-section home-section__2 py-3">
  <div class="row text-center home-section__2__container">
    <div class="col-md-4">
      <span class="home-section__2__icon d-inline-block mb-1 p-3">🚀</span>
      <h4>Start a project</h4>
      <p>Do you have a great idea of a project, but need some help with the
        implementation? We're here to help you. Just
        write a short description and tell us what you’re looking for. All you
        have to do next is choosing the right
        ninja coders for your team.</p>
    </div>
    <div class="col-md-4">
      <span class="home-section__2__icon d-inline-block mb-1 p-3">💙</span>
      <h4>Help a project</h4>
      <p>Are you a talented coder, tired of working for someone else and willing
        to create a brand new product? Find one
        of the existing ideas that needs your skills, get in touch with the
        owner and convince him you are the right
        pick for his team!</p>
    </div>
    <div class="col-md-4">
      <span class="home-section__2__icon d-inline-block mb-1 p-3">🦄</span>
      <h4>Make it happen</h4>
      <p>After setting up your team, project and your mind, it’s time to start
        working on it. Don’t rush, take it one
        step at a time. We know that you can make it! And please let us know how
        it all worked out for you! :)</p>
    </div>
  </div>
</section>
