<section *ngIf="project">
    <div class="form-inline">
        <div class="form-group m-b-2">
            <label class="col-form-label" for="position">Position</label>
            <select class="form-control" id="position" #positionSelect>
                <option *ngFor="let position of project.position" value={{position.id}}>{{position.skill.name}}</option>
            </select>
        </div>
    </div>

    <ol class="m-b-2">
        <li *ngFor="let question of project.application_questions; let i = index">
            <label for="question">{{question}}</label>
            <input class="form-control" id="question" type="text" [(ngModel)]="application.answers[i]">
        </li>
    </ol>

    <div class="form-group">
        <label for="message">Optional message</label>
        <textarea class="form-control" rows="6" id="message" [(ngModel)]="application.message"></textarea>
    </div>

    <div class="text-xs-center">
        <button class="btn btn-primary" (click)="sendApplication(positionSelect.value)">Apply</button>
    </div>
</section>