<section *ngIf="project">
    <h4>Message</h4>
    <textarea [(ngModel)]="application.message"></textarea>

    <h4>Questions</h4>
    <li *ngFor="let question of project.application_questions; let i = index">
        {{question}}
        <input type="text" [(ngModel)]="application.answers[i]">
    </li>

    <h4>Position</h4>
    <select #positionSelect>
        <option *ngFor="let position of project.position" value={{position.id}}>{{position.description}}</option>
    </select>

    <button (click)="sendApplication(positionSelect.value)">Apply</button>
</section>