<section>
	<ul *ngIf="comments && comments.length > 0" class="reset-list">
		<li *ngFor="let comment of comments" class="comment">
			<div class="comment__left-side p-r-1">
				<img *ngIf="comment.user.picture" class="profile-img" src="{{comment.user.picture}}?s=30">
			</div>
			<div class="comment__content">
				<a routerLink="/profile/{{comment.user_id}}">{{comment.user.name}}</a> &sdot; <span
							class="text-muted"> {{ comment.created_at | timeAgo}} </span>
				<p>{{comment.text}}</p>
			</div>
		</li>
	</ul>

	<div class="form-inline">
		<input class="form-control" type="text" #text>
		<button (click)="addComment(text)" class="btn btn-info">Add comment</button>
	</div>
</section>