<div *ngIf="user">
    <h1>{{user.name}}</h1>
    <img *ngIf="user.picture" src={{user.picture}}>

    <form #updateForm="ngForm" (ngSubmit)="onSubmit()">
        <label>Name
            <input type="text" required minlength="3" maxlength="25"
                   name="username" [(ngModel)]="user.name" #name="ngModel">
        </label>

        <div *ngIf="name.errors && (name.dirty || name.touched)">
            <div [hidden]="!name.errors.required">
                Name is required
            </div>
            <div [hidden]="!name.errors.minlength">
                Name must be at least 3 characters long.
            </div>
            <div [hidden]="!name.errors.maxlength">
                Name cannot be more than 25 characters long.
            </div>
        </div>

        <label>Workplace
            <input type="text" name="workplace" [(ngModel)]="user.workplace">
        </label>

        <label>Website
            <input type="text" name="website" [(ngModel)]="user.website">
        </label>

        <label>Twitter
            <input type="text" name="name" [(ngModel)]="user.twitter">
        </label>


        <label>Skills</label>
        <app-autocomplete [skills]="skills" (onSelect)="onSelect($event)"></app-autocomplete>
        <ul>
            <li *ngFor="let skill of user.skill; let i = index">
                {{skill}}
                <button type="button" (click)="removeSkill(i)">X</button>
            </li>
        </ul>
        <button type="submit" [disabled]="!updateForm.form.valid">Save changes</button>
    </form>
</div>